<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>Notion integration demo</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Specific file uplad demo - TBD Server that works best</h1>
    </header>

    <main>
      <h2>Goals</h2>
      <p>
        Use this demo to see how a file upload cooperation takes place
        between client and server side
        Inspired from https://betterprogramming.pub/a-complete-guide-of-file-uploading-in-javascript-2c29c61336f5
        GH: https://github.com/BytefishMedium/FileUploading
      </p>
      <p>
        Open the Notion page set in your environment variables to see workspace
        updates in real-time. :)
      </p>
      <table>
        <tr>
          <th>Step</th>
          <th>Response</th>
        </tr>
        
        <!-- custom table row and tds for file upload test with showing svr-side.
        at the time of writing this code Notion API doesn't allow file uploading thru it. -->
        <tr>
          <td>
            <h3>Alice's custom file uploading</h3>
            <!-- todo after - add an input text in the fileForm form below
            and wrap it up within the request - action="https://httpbin.org/post"-->
            <form id="fileForm" method="post" enccdctype="multipart/form-data">
              <label for="myfile">Select a file:</label>
              <input type="file" id="fileInput" name="fileInput"/><br><br>
              <button type="submit">Upload the file</button>
            </form>
          </td>
          <!-- The file upload successful response will be appended here after submitting it -->
          <td id="fileResponse">
            <p>
            <strong>Uploading status:</strong>
            <span id="statusMessage">🤷‍♂ Nothing's uploaded</span>
          </p>
        </td>
        </tr>
      </table>
    </main>
  </body>
</html>
